@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> QuoteIndex</h1>
<p>Here you can find an overview of all the quotes!</p>
    
<a asp-controller="Quote" asp-action="Create" class="btn btn-primary">Create New Quote</a>

